* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.9);
  z-index: 99;
}
.modal_box {
  max-width: 500px;
}
.modal-container {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 32px 48px;
  border-radius: 10px;
  background-color: white;
  z-index: 100;
}

.modal_browImg {
  height: 50px;
  margin: 5px 15px;
  font-size: revert;
}
.modal-h2 {
  margin: 5px 100px;
}
.modal_h4 {
  margin: 5px 15px;
}
.modal_p {
  margin: 5px 15px;
  font-size: 21px;
  font-weight: 500;
}
.modal_form_control {
  width: 400px;
  margin: 5px 15px;
  border-radius: 5px;
  border: 0.5px solid lightgrey;
  outline: none;
  border-radius: 10px;
}
.modal_form_control_heading {
  width: 400px;
  height: 40px;
  margin: 5px 15px;
  border-radius: 5px;
  border: 0.5px solid lightgrey;
  outline: none;
  border-radius: 10px;
}

.modal_btn {
  margin: 5px 15px;
  width: 90px;
}
