.sidebar-item {
  padding: 0px 5px;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
  margin: 5px;
}
.sidebar-item:hover {
  background-color: rgba(231, 223, 223, 0.927);
}

.sidebar-title {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 5px;
}
.sidebar-title span i {
  display: inline-block;
  width: 24px;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.sidebar-content {
  padding-top: 4px;
  height: 0;
  overflow: hidden;
  margin: 7px;
  padding: 3px;
  justify-content: space-between;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: black;
  text-decoration: none;
  border: none;
  background-color: rgba(240, 237, 237, 0.984);

}
.sidebar-item.plain:hover {
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 25px;
}
