.main-nav {
  background-color: gainsboro;
  /* height: 10vh;
  width: 100%;
  display: flex; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 10vh;
}

img {
  height: 75px;
  width: auto;
}

.search-bar {
  margin: 25px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  /*width of the page decreases below 200px component doesn't decrese in size*/
  background-color: gainsboro;
}

.input-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  height: 1.8rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.input-wrapper:hover {
  border: 1px solid blue;
}
input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.2rem;
  width: 100%;
  margin-left: 5px;

  border-radius: 20px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: gray;
}

.btn {
  margin-left: 10px;
}

.btn-primary {
  width: 100px;
  height: 35px;
  margin: 19px;
  margin-left: 5px;
  border-radius: 20px;
  border: none;
  background-color: orangered;
}
.btn:hover {
  background-color: rgb(252, 89, 29);
}
.btn-light {
  width: 150px;
  height: 35px;
  margin: 19px;
  margin-left: 280px;
  border-radius: 20px;
  border: none;
}
.btn:hover {
  background-color: rgba(220, 220, 220, 0.742);
}

.get {
  margin: 10px;
  font-style: normal;
}

#userInfo {
  width: 200px;
  height: 50px;
  margin: 19px;
  margin-left: 30px;
  display: flex;
}
#username {
  width: 50%;
  height: 20px;
  margin: 10px;
}
.logout {
  width: 50%;
  height: 35px;
  margin: 7px;
  border-radius: 20px;
  border: none;
  background-color: orangered;
}
.logout:hover {
  background-color: rgb(252, 157, 123);
}

.search-icon {
  font-size: 20px;
}

@media (max-width: 768px) {
  .logo img {
    height: 30px;
  }

  input[type="text"] {
    width: 150px;
  }

  .btn {
    margin-left: 5px;
  }
}

@media (max-width: 576px) {
  .logo img {
    height: 25px;
  }

  input[type="text"] {
    width: 120px;
    font-size: 12px;
    padding: 3px 8px;
  }

  .btn {
    margin-left: 3px;
    font-size: 12px;
  }
}
