.navbar {
  background-color: #f8f9fa;
  width: 100vw;
  height: 90px;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.nav-form-control {
  margin: 15px 135px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  width: 450px;
  height: 35px;
  font-size: 14px;
}

.btn-outline-success {
  margin: 15px 70px;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 35px;
}

.nav_username {
  font-size: 13px;
  font-weight: 500;
  margin: 15px -20px;
}
