.television-container {
    display: flex;
  }
  
  .television-card-container {
    flex: 1;
    padding: 20px;
  }
  .television-card {
    width: 850px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0px 0 10px 200px;
  }
  
  .television-card-img-top {
    width: 650px;
    height: 250px;
    margin: 15px 80px;
    border-radius: 8px;
  }
  
  .television-card-title {
    font-size: 22px;
    margin: 5px 70px;
  }
  
  .television-card-text {
    font-size: 18px;
    text-align: justify;
    margin: 5px 30px;
  }
  